body {
    background-color: #e6e4a3;
    font-family: 'Sansita', sans-serif;
    color: #7D8F69;
}

img {
    width:75%
}

a {
    color: #7D8F69;
}


/* https://colorhunt.co/palette/5571537d8f69a9af7ee6e5a3 */